.detaui-button {
	background-color: transparent;
	color: #333;
	outline: none;
	border: 1px solid #ccc;
	padding: 5px 10px;
	cursor: pointer;
	border-radius: 3px;
}

.detaui-button[type='default'] :focus,
.detaui-button[type='default'] :active,
.detaui-button[type='default'] :hover {
	color: #409eff;
	border-color: #c6e2ff;
	background-color: #ecf5ff;
}

.detaui-button[type='primary'] {
	color: #fff;
	background-color: #409eff;
	border-color: #409eff;
}
.detaui-button[type='primary']:focus,
.detaui-button[type='primary']:active,
.detaui-button[type='primary']:hover {
	background: #66b1ff;
	border-color: #66b1ff;
	color: #fff;
}

.detaui-button[type='success'] {
	color: #fff;
	background-color: #67c23a;
	border-color: #67c23a;
}
.detaui-button[type='success'] :focus,
.detaui-button[type='success'] :active,
.detaui-button[type='success'] :hover {
	background: #85ce61;
	border-color: #85ce61;
	color: #fff;
}

.detaui-button[type='info'] {
	color: #fff;
	background-color: #909399;
	border-color: #909399;
}
.detaui-button[type='info']:focus,
.detaui-button[type='info']:active,
.detaui-button[type='info']:hover {
	background: #a6a9ad;
	border-color: #a6a9ad;
	color: #fff;
}

.detaui-button[type='warning'] {
	color: #fff;
	background-color: #e6a23c;
	border-color: #e6a23c;
}
.detaui-button[type='warning']:focus,
.detaui-button[type='warning']:active,
.detaui-button[type='warning']:hover {
	background: #ebb563;
	border-color: #ebb563;
	color: #fff;
}

.detaui-button[type='error'] {
	color: #fff;
	background-color: #f56c6c;
	border-color: #f56c6c;
}
.detaui-button[type='error']:focus,
.detaui-button[type='error']:active,
.detaui-button[type='error']:hover {
	background: #f78989;
	border-color: #f78989;
	color: #fff;
}
